
postgresql
.api.env
/Api/node_modules
/App/node_modules
/App/.env
.env
.env.production
/Api/.env
/Api/.env.production
/Api/.env.dev
.env.dev
/.env.dev
/backup
traefik/acme.json
/traefik/acme.json
./traefik/acme.json
./traefik/acme.json
/App/cypress
/App/coverage
./App/coverage
certs
./certs
/Api/certs
./Api/certs