
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400; /* Regular */
  font-display: swap;
  src: url('/fonts/be-vietnam-pro-v11-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 700; /* Bold */
  font-display: swap;
  src: url('/fonts/be-vietnam-pro-v11-latin-700.woff2') format('woff2');
}

html,
body {
  margin: 0;
  height: 100vh;
  padding: 0;
  background-color: #171420;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #171420;
}

.homepage__box {
  width: 70%;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}

.back__arrow {
  position: absolute;
  top: 10px;
  left: 10px;
}

.back__arrow img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  filter: invert(1);
}

.left__section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.left__section .logo {
  display: none;
}

.left__section h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #fff;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right__section {
  width: 50%;
  height: 100%;
}

.right__section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}

/* Responsive */
@media (max-width: 768px) {
  .homepage__box {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .right__section {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    order: -1;
  }

  .right__section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-top: 40px;
  }

  .left__section {
    width: 100%;
    align-items: center;
    padding: 20px;
  }

  .left__section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .back__arrow img {
    width: 25px;
    height: 25px;
  }
}
