@import url("https://fonts.googleapis.com/css2?family=Quicksand:400,500,700&subset=latin-ext");

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #171420;

  &__box {
    width: 70%;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
  }

  &__image {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 50px rgba(108, 68, 252, 0.8),
      0px 0px 0px 7px rgba(107, 74, 255, 0.5);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .profile__info {
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;

    .profile__name {
      font-size: 1.4rem;
      font-weight: 700;
    }

    .profile__email {
      font-size: 1rem;
      font-weight: 400;
      margin-top: 10px;
    }
  }

  &__delete-button {
    margin-top: 20px;
    background: linear-gradient(45deg, #d5135a, #f05924);
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s;
    width: 30%;

    &:hover {
      background: linear-gradient(45deg, #ff2846, #f05924);
    }
  }
}

/* Modale */
.modale {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    background: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    text-align: center;

    p {
      margin-bottom: 20px;
    }

    .modale__btn {
      margin: 0 10px;
      padding: 10px 20px;
      background: #d5135a;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background: #a00022;
      }
    }
  }
}

@media (max-width: 768px) {
  .profile__delete-button {
    width: 100%;
  }
}
