@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400; /* Regular */
  font-display: swap;
  src: url('/fonts/be-vietnam-pro-v11-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 700; /* Bold */
  font-display: swap;
  src: url('/fonts/be-vietnam-pro-v11-latin-700.woff2') format('woff2');
}
:root {
  --background_color: #171420;
  --color: #636374;
  
  /* font */
  --font_family_primary: "Be Vietnam Pro", sans-serif;
  --font_family_secondary: "Roboto", sans-serif;
  
  /* button */  
  --button_submit: #636374;
  --button_cancel: #d30c0c;
}

